*{
    font-family: "Inter", sans-serif;
}

body {
    display: grid;
    place-items: center;
    height: 50vh;
}

.back svg path {
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    animation: draw 3s infinite alternate;
    stroke: black;
    fill: none; /* Menghilangkan warna isi agar hanya garis yang muncul */
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}

.back {
    display: flex;
    place-items: start;
    justify-self: start;
    gap: 10px;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    background-color: #FED8B1;
    border-radius: 15px;
    box-shadow: 5px 5px 15px;
    width: fit-content;
    height: fit-content;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content h1 {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 35px;
}

.field {
    padding-bottom: 10px;
}

label {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    color: black;
}

input {
    padding: 10px;
    width: 100%;
    border: none;
}

button {
    padding: 10px;
    width: 50%;
    margin-left: 25%;
    margin-top: 30px;
    margin-bottom: 5px;
    background-color: #6F4E37;
    border-radius: 25px;
    color: white;
    font-weight: bold;
    border: solid #6F4E37;
    box-shadow: 0 0 10px;
}

button:hover {
    background-color: #BF9870;
    border: solid black;
    color: black;
    box-shadow: 0px 5px 20px;
}

p {
    font-size: 12px;
    color: black;
}

form a{
    color: black;
    font-weight: bold;
    font-size: 12px;
}

form a:hover {
    color: #6F4E37;
    font-weight: bold;
    text-decoration: underline;
}

a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #6F4E37;
    font-weight: bold;
    text-decoration: underline;
}

.warning {
    position: absolute;
    top: 0;
    background-color: #6F4E37;
    color: white;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 1500px;
    padding: 20px;
    border-radius: 15px;
}