*{
    font-family: "Inter", sans-serif;
}

.wadah {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.warning {
    position: absolute;
    top: 0;
    background-color: #6F4E37;
    color: white;
    gap: 10px;
    max-width: 1500px;
    padding: 20px;
    border-radius: 15px;
    
}

h1 {
    text-align: left;
}